@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);


.screen {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("images/menu-background.jpg");
  background-size: cover;
}


.stop-scrolling {
  height: 100%;
  overflow: hidden;
}


.laser-shoot{
  height: 30px;
  margin: 0;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 330px;
}

.hidden{
  display: none;
}

.choose {
  margin: 0 auto;
  font-family:shadows into light;
  font-size: 60px;
  width: 1000px;
  color: #3aff30;
  background: #5f4b05;
}

.ship-choose {
  display: none;
  text-align: center;
}

#xwing {
  height: 120px;
  padding: 80px
}

.vertical{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#xwing:hover, #slave:hover, #falcon:hover {
  transform: scale(1.5);
}

#slave {
  height: 200px;
  padding: 80px
}

#falcon {
  height: 200px;
  padding: 80px
}


.logo-container{
  text-align: center;
  display: block;
}

.logo {
  position: relative;
  margin: auto 0;
  width: 400px;
  padding: 10px;
  top: 40px
}

.logo2 {
  position: relative;
  align-self: center;
  margin: auto 0;
  padding: 30px;
  top: 20px;
}

.single, .credits, .high-score {
  position: relative;
  margin: 0 auto;
  align-self: center;
  height:50px;
  width: 400px;
  background: #5f4b05;
  text-align:center;
  font-size:30px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  color: #3aff30;
  font-family:shadows into light;
  cursor:pointer;
}

.single:hover, .credits:hover, .high-score:hover {
  background: #000000;
  color: #ff0202;
  -webkit-transform:rotate(-1deg);
  transform:rotate(-2deg);
}

.container{
  width: 120%;
  height: 120%;
}

.enemy-container {
  position: absolute;
  left: 1500px;
  top: 50%;
  width: 150px;
  text-align: right;
}

.tie {
  width: 150px;
}

.interceptor {
  width: 300px;
}
